<div class="toolbar" role="banner">
    <img class='image'
      width="33"
      alt="Logo"
      src="./assets/logoo.png"
    />
    <span class="titre">My cinemaa</span>

    <ul><a routerLink= '/home' routerLinkActive="active" class="titre" >Home</a> </ul>  
     <ul><a routerLink= '/UnAuthorized' routerLinkActive="active" class="titre">Ajouter Cinéma</a></ul>
      <div class="spacer"></div>
    
      <p> Unknown user </p>
  </div>
<div class="b">
 
</div>
    <router-outlet></router-outlet>
