.body{
    position: relative;
    display: block;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 200px;
    width: 20%;
}
p{
    text-align: center;
    text-decoration: solid wavy ;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}